.drum-pad {
    background-color: var(--dark-ligh-grey);
    height: 8rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: black .3rem .3rem .5rem;
    border-radius: .5rem;
    cursor: pointer;
    font-weight: bold;
    user-select: none;
}

.drum-pad:active {
    background-color: orange;
    box-shadow: none;;
}