.drum-machine {
    background-color: var(--ligh-grey);
    display: flex;
    outline: .5rem solid orange; 
    flex-wrap: wrap;
    gap: 2rem
}



.drum-bar {
    flex: 0 0 100%;
    display: flex;
    
    justify-content: flex-end;
    padding: 2rem;
}

.git-link {
    text-decoration: underline;
    font-weight: bold;
}


.right-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}


.left-panel,
.right-panel { 
    padding: 2rem;
    padding-top: 0;
}