*,
::after,
::before {
  margin: 0;
  padding: 0;
}

:root {
  --dark-ligh-grey: #8d8d8d;
  --ligh-grey : #b3b3b3
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
.main-container {
  background-color: var(--dark-ligh-grey);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}