*,
::after,
::before {
  margin: 0;
  padding: 0;
}

:root {
  --dark-ligh-grey: #8d8d8d;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
}

.main-container {
  background-color: var(--dark-ligh-grey);
  min-height: 100vh;
}